.title{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: 0;
  background-color:rgb(255, 60, 229);
}
.gameDiv{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  background-color:rgb(255, 60, 229);
}
.game{
  
}
