*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /*font-family: 'Teko', sans-serif;*/
}
:root{
  background-color: rgb(0, 0, 0);
}
.footer-text{
  font-family:Helvetica, sans-serif;
  font-style: italic;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-decoration: none;
  background-color:rgba(120, 120, 120, 0.25);
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
}