@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}

:root{
  background-color: rgb(236, 235, 175);
}

.paulaItalic{
  font-style: italic;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-decoration: none;
  background-color:rgb(255, 60, 229);
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
}