@font-face {
  font-family: 'Dosis-Extralight';
  src: url('../Styles/Fonts/Dosis/static/Dosis-ExtraLight.ttf');
}
@font-face {
  font-family: 'Dosis-Variable';
  src: url('../Styles/Fonts/Dosis/Dosis-VariableFont_wght.ttf');
}
.contents{
  font-family: 'Dosis-Extralight';
  color: whitesmoke;
    h3{ 
    text-align: justify;
  }
}
.about-texts{
  display: block;
  justify-content: center;
  align-items: center;
}
#span1{
  font-style: italic;
}
#span2{
  text-decoration: underline;
}
#span3{
  font-style: italic;
  text-decoration: underline;
}
.imgSrc{
  width: 100%;
}
.img-info{
  left: 0;
  font-style: italic;
}
.line{
  width: 100%;
  height: 1px;
  background-color: whitesmoke;
}
.credit-block{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.thanks-block{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.img-backers{
  display: flex;
}
#imgBacker1{
  width: 10%;
}
#imgBacker2{
  width: 25%;
}
.research{
  width: 100%;
  height: 100%;
  font-family: 'Dosis-Extralight';
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}