@font-face {
  font-family: 'Dosis-Extralight';
  src: url('../Styles/Fonts/Dosis/static/Dosis-ExtraLight.ttf');
}
.creditGrid{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: 4fr 4fr 4fr;
  grid-template-areas:
  "creditsType creditsName"
  "creditsType creditsName"
  "creditsType creditsName" ;
}
@media screen and (max-width: 720px) {
  .creditGrid{
    grid-template-columns: auto auto;
    grid-template-rows: 4fr 4fr 4fr;
    grid-template-areas:
    "creditsType creditsName"
    "creditsType creditsName"
    "creditsType creditsName" ;
  }
}
@media screen and (max-width: 480px) {
  .creditGrid{
    grid-template-columns: auto auto;
    grid-template-rows: 4fr 4fr 4fr;
    grid-template-areas:
    "creditsType creditsName"
    "creditsType creditsName"
    "creditsType creditsName" ;
  }
}
.creditsType{
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: 'Aquatico-Regular';
  padding: 2%;
}
.creditsName{
  display: flex;
  justify-content: left;
  align-items: center;
  font-style: italic;
  padding: 2%;
}
