.gridCon{
  display: grid;
  height: 100vh;
  /*background-color: rgb(235, 238, 175);*/
  grid-template-columns: 0.1fr 4fr 0.1fr;
  grid-template-rows: 0.1fr 4fr 0.1fr;
  grid-template-areas:
  "nav nav nav"
  "empty1 game empty2"
  "footer footer footer";
}
iframe{
  width:140vh;
  height:80vh;
}
nav{
  grid-area: nav;
}
.empty1{
  grid-area: empty1
}
.game{
  grid-area: game
}
.empty2{
  grid-area: empty2
}
footer{
  grid-area: footer;
}
@media screen and (max-width: 760px) {
  .gridCon{
    display: grid;
    height: 70vh;
    grid-template-columns:4fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "nav"
    "game"
    "footer";;
  }
  iframe{
    width:100vw;
    height:80vh;
  }
}
@media screen and (max-width: 480px) {
  .gridCon{
    display: grid;
    height: 50vh;
    grid-template-columns:4fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "nav"
    "empty1"
    "game"
    "empty2"
    "footer";
  }
  iframe{
    width:100vw;
    height:40svh;
  }
}