.gridCon{
  display: grid;
  height: 90vh;
  /*background-color: rgb(235, 238, 175);*/
  grid-template-columns: 0.1fr 4fr 0.1fr;
  grid-template-rows: 0.1fr 4fr 0.1fr;
  grid-template-areas:
  "empty1 empty1 empty1"
  "empty2 game empty3"
  "empty4 empty4 empty4";
}
iframe{
  width:140vh;
  height:80vh;
}
.empty1{
  grid-area: empty1
}
.empty2{
  grid-area: empty2
}
.game{
  grid-area: game

}
.empty3{
  grid-area: empty3
}
.empty4{
  grid-area: empty4
}
@media screen and (max-width: 720px) {
  .gridCon{
    grid-template-columns:4fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
      "empty1"
      "game"
      "empty4";
  }
  iframe{
    width:70vh;
    height:40vh;
  }
}