.home-grid{
  display: grid;
  height: 100vh;
  /*background-color: rgb(235, 238, 175);*/
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-rows: auto 4fr auto;
  grid-template-areas:
  "nav nav nav"
  "empty1 middle empty2"
  "empty1 footer empty2";
}
nav{
  grid-area: nav;
}
.empty1{
  grid-area: empty1;
}
.middle{
  grid-area: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/homeBg.png");
  background-size: cover;
}
.empty2{
  grid-area: empty2;
}
.question{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: whitesmoke;
}
footer{
  grid-area: footer;
}
@media screen and (max-width: 720px) {
  .grid{
    grid-template-columns: auto 4fr auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "nav"
    "middle" 
    "footer";
  }
}
@media screen and (max-width: 480px) {
  .grid{
    grid-template-columns: auto 4fr auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "nav"
    "middle" 
    "footer";
  }
}