@font-face {
  font-family: 'Dosis-Extralight';
  src: url('../Styles/Fonts/Dosis/static/Dosis-ExtraLight.ttf');
}
.home-grid{
  display: grid;
  height: 100vh;
  /*background-color: rgb(235, 238, 175);*/
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-rows: auto 4fr auto;
  grid-template-areas:
  "empty1 nav empty2"
  "empty1 middle empty2"
  "empty1 footer empty2";
}
nav{
  grid-area: nav;
}
.empty1{
  grid-area: empty1;
}
.middle{
  grid-area: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.imgBg{
  position: absolute;
  z-index: -1;
  max-width:100%;
}
.empty2{
  grid-area: empty2;
}
.question{
  font-family:Dosis-Extralight;
  font-size: 26px;
  text-decoration: none;
  color: whitesmoke;
}
footer{
  grid-area: footer;
}