@font-face {
  font-family: 'Dosis-Extralight';
  src: url('../Styles/Fonts/Dosis/static/Dosis-ExtraLight.ttf');
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  text-decoration: none;
}
.Logo{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  image-rendering: none;
  width: auto;
  height: 100%;
}
.imglogo{
  width: 270px;
  height: 22px;
  background-image: url("../images/logoRegular.png");
  background-size: cover;
}
.imglogo:hover{
  background-image: url("../images/logoHover.png");
}
.div-bars{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.bars{
  display: none;
  color: black;
  
}
.bars-menu{
  display: none;
}
.menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-self: flex-end;
  width: 100%;
  height: 100%;
}
.menuLinks{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.linkName{
  font-family: Dosis-Extralight;
  font-size: 18pt;
  color: white;
  margin: 10px;
  text-decoration: none;
}
.linkName:hover{
  color: #FF00FF;
}
.btn{
  color: #ffffff;
}
@media screen and (max-width: 720px) {
  .menu{
    display: none;
  }
  .bars{
    display: flex;
  }
}