@font-face {
  font-family: 'Dosis-Extralight';
  src: url('../Styles/Fonts/Dosis/static/Dosis-ExtraLight.ttf');
}
.regularGrid{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-rows: auto 4fr auto;
  grid-template-areas:
  "nav nav nav"
  "empty1 gridCenter empty2"
  "empty1 footer empty2";
}
@media screen and (max-width: 720px) {
  .regularGrid{
    grid-template-columns: 4fr;
    grid-template-rows: auto auto 4fr auto auto;
    grid-template-areas:
    "nav"
    "empty1"
    "gridCenter" 
    "empty2"
    "footer";
  }
}
@media screen and (max-width: 480px) {
  .regularGrid{
    grid-template-columns: 4fr;
    grid-template-rows: auto auto 4fr auto auto;
    grid-template-areas:
    "nav"
    "empty1"
    "gridCenter" 
    "empty2"
    "footer";
  }
}
nav{
  grid-area: nav;
}
.empty1{
  grid-area: empty1;
}
.gridCenter{
  grid-area: gridCenter;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty2{
  grid-area: empty2;
}
footer{
  grid-area: footer;
}
